* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.record {
    width: 100%;
    height: 100vh;
    background-color: #252625;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;


}

.record-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.recording-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0 25px white;
}

.record-title {
    color: white;
}

.recording-name {
    color: white;
    text-align: center;
}

.recording-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.record-img {
    width: 300px;
    height: 50px;
}

.mic-img {
    width: 300px;
    height: 160px;
    padding: 20px;
}

.recorded-message {
    width: 25%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 25px white;
}

.recorded-name {
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.list {
    text-decoration: none;
}

.play-btn {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #4231b2;
    border: none;
    color: white;
    font-size: 20px;
}

.no-record {
    color: white;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}